# Node modules
**/node_modules/

# Env files
**/.env
**/.env.*
!**/.env.example
!frontend/.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
frontend/dist/

# OS / editor
.DS_Store
.vscode/
.idea/

# Runtime files
backend/backups/
backend/public/uploads/
